// colors.scss -- Colors for the Nucleus style guide and doc pages
//
// Edit by Aguayo 2019

//-Accent Purple
//-$color--accent: #F71444;
$color--brand_project: #F71444;
$color--brand-secondary_project: #442686;;

$c-on-hover: #E81744;

$color--bg : #16223F;

$color--border: #d8d8d8;

$c-on-text: #4a4a4a;

$bg-grey: #f7f7f7;
