/*------------------------------------*\
  Theme Styles: BBL's Theme color primary
  Titles transversal style
  Description: only classes that has been affected with primary's theme color
  Purple=> #442686 Variable : $c-primary-hover
\*------------------------------------*/

.ag-c-cover,
.ag-o-header-wink {

  .ag-o-headwink,
  .ag-o-subheadwink {

    &:before {
      background-color: $c-primary-hover;
    }
  }

}

// Division Tags on sections head  (Expositions)
.ag-o-head-tag {

  .ag-o-head-tag__ico {
    &:before {
      background-color: $c-primary-hover;
    }
  }

  .ag-o-head-tag__ico_big {
    &:before {
      background-color: $c-primary-hover;
    }
  }
}
