{% load i18n %}
{% load static %}
{% comment "TODO" %}
  En el título el nombre del colaborador y e nombre de colección son datos dinámicos
{% endcomment %}
<div class="ag-c-modal ag-c-modal_smallSize ag-js-modal" data-modal="delete_colaborate_collection" id="wai-modal-collection">
  <div class="ag-c-modal__content ag-js-modalContent" tabindex="0">
    <div class="ag-c-modal__setting">
      <article class="ag-c-modal__inner">
        <h3 class="ag-c-modal__title" tabindex="0">{% trans "¿Estás seguro que quieres dejar de colaborar en esta colección?" %}</h3>
        <p class="ag-o-text ag-c-modal__text ag-c-modal__row" tabindex="0">{% trans "Recuerda que cuando dejas de colaborar en una colección no tendrás acceso a su contenido." %}</p>
        <footer class="ag-c-modal__footer">
          <div class="ag-c-modal__item-control" tabindex="0">
            <button class="ag-c-modal__btn ag-o-btn ag-o-btn_outline ag-js-modalClose" type="button">{% trans "Cancelar" %}</button>
          </div>
          <div class="ag-c-modal__item-control" tabindex="0">
            <button class="ag-c-modal__btn ag-o-btn" type="submit">{% trans "Dejar de colaborar" %}</button>
          </div>
        </footer>
      </article>
      <button class="ag-is-modal__close i-close ag-js-modalClose">
        <span class="ag-is-visuallyhidden">{% trans "Cerrar Modal" %}</span>
      </button>
    </div>
  </div>
</div>
