{% load i18n %}
{% load static %}

<div class="ag-c-modal ag-c-modal_smallSize ag-js-modal" data-modal="delete_collection_from_collections_group" id="wai-modal-collection-group">
  <div class="ag-c-modal__content ag-js-modalContent" tabindex="0">
    <div class="ag-c-modal__setting">
      <article class="ag-c-modal__inner">
        <h3 
          class="ag-c-modal__title ag-c-modal__row ag-u-margin-top-24" 
          tabindex="0"
        >
          ¿{% trans 'Quieres Eliminar esta colección del "Grupo de Colecciones"' %} {{ object.title }}?
        </h3>
        <div class="ag-c-modal__footer">
          <div class="ag-c-modal__item-control" tabindex="0">
            <button 
              class="ag-c-modal__btn ag-o-btn ag-o-btn_outline ag-js-modalClose"
              type="button"
            >
              {% trans "Cancelar" %}
            </button>
          </div>
          <div class="ag-c-modal__item-control" tabindex="0">
            <form method="post">
              {% csrf_token %}
              <button 
                class="ag-c-modal__btn ag-o-btn ag-js-deleteCollectionFromCollectionsGroup" 
                value="" 
                name="remove_collection"
              >
                {% trans "Eliminar" %}
              </button>
            </form>
          </div>
        </div>
      </article>
      <button class="ag-c-modal__tooltip-btn-24
          ag-o-btn-tooltip
          i-close
          ag-js-modalClose" type="button">
          <span class="ag-o-btn-tooltip__tooltip">
            Cerrar
          </span>
        </button>
    </div>
  </div>
</div>
