{% load i18n %}
{% load static %}

<div class="ag-c-modal ag-c-modal_smallSize ag-js-modal" data-modal="left_collection" id="wai-modal-left-collection">
  <div class="ag-c-modal__content ag-js-modalContent" tabindex="0">
    <div class="ag-c-modal__setting">
      <article class="ag-c-modal__inner">
        <h3 class="ag-c-modal__title ag-c-modal__row" tabindex="0">{% trans "¿Dejar de colaborar en" %} {{ collection.title }}?</h3>
        <div class="ag-c-modal__footer">
          <div class="ag-c-modal__item-control">
            <button class="ag-c-modal__btn ag-o-btn ag-o-btn_outline ag-js-modalClose" type="button">{% trans "Cancelar" %}</button>
          </div>
          <div class="ag-c-modal__item-control">
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="form_name" value="{{ form.initial.form_name }}" />
              <button class="ag-c-modal__btn ag-o-btn" value="false" name="{{ form.collaborate.name }}">{% trans "Dejar de colaborar" %}</button>
            </form>
          </div>
        </div>
      </article>
      <button class="ag-is-modal__close i-close ag-js-modalClose">
        <span class="ag-is-visuallyhidden">{% trans "Cerrar Modal" %}</span>
      </button>
    </div>
  </div>
</div>
