//*-------------------------------------------*\
  //-Variables Canvas: inner contenedor layout
//*-------------------------------------------*/

//*-------------------------------------------*\
  // .ag-canvas width
//*-------------------------------------------*/

$canvas-w   : 92%;

//*-------------------------------------------*\
  // .ag-canvas max-width
//*-------------------------------------------*/
$canvas-sm          : 700px;
//- $canvas-small-mw: 375px;
$medium-w780          : 780px;
// $canvas-medium-mw: 700px;
//  wide            : 1024px
$canvas-wide-mw     : 1000px;
$canvas-large       : 1060px;
// large            : 1180px;
$canvas-large-mw    : 1108px;
// big              : 1280px;
$canvas-mw          : 1170px;
$canvas-big-mw      : 1280px;
$canvas-huge        : 1440px;
$canvas-form        : 486px;
