{% extends "biblored/base.html" %}

{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %} {% trans 'Colecciones' %} {% endblock %}

{# Template parent: base.html #}
{% block description %}
  {% trans "Las colecciones de la Biblioteca Digital de Bogotá reúnen contenidos producidos y preservados por ciudadanos, bibliotecas, museos, archivos y bases de datos" %} {% endblock %}
{% block keywords %} {% trans 'Bogotá, Entretenimiento, Libros, Fotos, Música, Historia' %} {% endblock %}

{% block search %}
  {% include "biblored/includes/layout/header_search.html" %}
{% endblock %}

{% comment 'b08_breadcrumb' %}
  Template parent: base.html
  Block parent: breadcrumbs
{% endcomment %}

{% block breadcrumbs_items %}
  <dd class="ag-breadcrumbs__item">
    {% trans 'Colecciones de usuario colaborativas' %}
  </dd>
{% endblock %}

{% block content %}
  {{ block.super }}
  <main class="ag-l-page">
    <section class="ag-l-inner-wide">

      <header class="ag-o-header" id="maincontent" tabindex="0">
        <h1 class="ag-o-heading">
          {% trans "Colecciones de usuario colaborativas" %}
        </h1>
        <p class="ag-o-subheading">
          {% trans "Agrupa tus contenidos favoritos y crea Colecciones de usuario colaborativas" %}
        </p>
        {% if user.is_authenticated %}
          <p class="ag-o-actions ag-o-actions_header">
            <a class="ag-o-btn ag-o-actions__item" title="{% trans 'Ir a crear colección' %}"
               href="{% url 'collection_add' %}">
              {% trans "Crear colección" %}
            </a>
          </p>
        {% endif %}
      </header>

      <nav class="ag-menu-bar" id="content" tabindex="0">
        <a class="ag-menu-bar__item" title="{% trans 'Colecciones de usuario individuales' %}"
           href="{% url 'collections' %}">{% trans "Colecciones de usuario individuales" %}</a>
        <span
          class="ag-menu-bar__item ag-menu-bar__item_active">{% trans "Colecciones de usuario colaborativas" %}</span>
      </nav>

      {# filter-band #}
      <div class="ag-c-filter-band ag-c-filter-band_end" tabindex="0">
        {% include "biblored/includes/blocks/order_by.html" %}
      </div>
      <div class="ag-c-card-grid">
        {% for collection in collaborativecollection_list %}
            {% include "biblored/includes/collections/collection_card.html" with counter=forloop.counter0 color_icon='blue' %}
            {% if request.user.is_authenticated %}
              {% include "biblored/includes/collectionsgroup/search_select_list_page_component.html" with counter=forloop.counter0 formset=collections_formset collection=collection favorites_group=collections_favorites_group csrf_token=csrf_token only %}
            {% endif %}
        {% endfor %}
      </div>
      {# Paginador lista #}
      {% include "biblored/includes/paginator.html" %}
    </section>
    {% include "biblored/includes/messages/messages_templates.html" %}
  </main>

{% endblock %}

{% block js %}
  {{ block.super }}
  {% render_bundle 'collection_groups_card_component_form' 'js' %}
  {% render_bundle 'collections_add_to_groups_api' 'js' %}
  {% render_bundle 'collections_group_favorites_api' 'js' %}
{% endblock %}
