{% extends "biblored/base.html" %}

{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %} {% trans 'Colección institucional' %} {{ object.name }} {% endblock %}


{% block search %}
  {% include "biblored/includes/layout/header_search.html" %}
{% endblock %}

{% comment 'b08_breadcrumb' %}
  Template parent: base.html
  Block parent: breadcrumbs
{% endcomment %}

{% block opengraph %}
  {% with processed_data=set %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ set.name }}">
    <meta property="og:url" content="{% build_absolute_uri %}">
    <meta property="og:description" content="{{ set.description|striptags }}">
    {% if set.image %}
      <meta property="og:image" content="{{ set.image.url }}">
    {% endif %}
    <meta property="article:author" content="{{ set.data_source.name }}">
    {# Twitter platform #}
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ set.title }}" />
    <meta property="twitter:url" content="{% build_absolute_uri %}" />
    <meta property="twitter:description" content="{{ set.description|striptags }}" />
    {% if set.image %}
      <meta property="twitter:image" content="{{ set.image.url }}"/>
    {% endif %}
  {% endwith %}
{% endblock %}

{% block breadcrumbs_items %}
  <dd class="ag-breadcrumbs__item">
    <a class="ag-breadcrumbs__link" href="{% url 'sets' %}"
      title="{% trans 'Ir a las Colecciones de instituciones' %}">{% trans 'Colecciones de instituciones' %}</a>
  </dd>
  <dd class="ag-breadcrumbs__item">
    {% trans 'Detalle de colección: ' %}
    {{ object.name }}
  </dd>
{% endblock %}

{% block content %}
  {{ block.super }}

  <main class="ag-l-page">
    {# Bannet set detail #}
    <div id="content"
      class="ag-l-band-primary"
    >
      <div class="ag-l-inner-wide">
        {% include "biblored/includes/collections/set_banner.html" with collection=object form=form csrf_token=csrf_token favorites_group=collections_favorites_group user=request.user %}
      </div>
    </div>

    <div class="ag-l-inner-wide ag-u-margin-top-16-mb">
      <ul class="ag-l-griddle
        ag-l-griddle__columns
        ag-l-griddle_bottom-24"
      >
        <li class="ag-l-griddle__column">
          {# Search form with filter for only collection #}
          <form class="ag-c-search
            ag-js-dropdown"
            action="{% url 'search' %}"
            id="search_form_with_set_filter"
          >
            <div class="ag-c-search__control">
              <div class="ag-c-search__input
                i-exclamation-mark
                ag-js-searchTextInputContainer"
              >
                <label for="{{ search_form_with_set_filter.search_text.id_for_label }}">
                <span class="ag-is-visuallyhidden">
                  {{ search_form_with_set_filter.search_text.label }}
                </span>
                </label>
                {{ search_form_with_set_filter.search_text }}
                <div class="ag-c-search__suggestions
                  ag-js-searchSuggestion
                  ag-is-hide"
                >
                </div>
                <div class="ag-c-tip ag-js-tip" hidden>
                  {% trans 'Ingresa al menos un término para realizar la búsqueda' %}
                </div>
              </div>
              <div class="ag-is-display-none">
                <input type="hidden" value="{{ search_form_with_set_filter.sets.initial }}" name="{{ search_form_with_set_filter.sets.name}}" id="{{ search_form_with_set_filter.sets.id_for_label}}">
              </div>
              <button class="ag-c-search__button
                i-search"
              >
                <span class="ag-is-visuallyhidden">{% trans 'Realizar búsqueda' %}</span>
              </button>
            </div>
          </form>
        </li>
        <li class="ag-l-griddle__column">
          {# filter-band #}
          <div class="ag-c-filter-band
            ag-c-filter-band_top"
          >
            {# Botón despliega filtros en Mobile #}
            <div class="ag-is-show_mobile">
              <button class="ag-o-btn
              ag-o-btn_small
              ag-js-asideOpen
              ag-js-filterBtn"
              type="button"
              tabindex="0"
            >
                {% trans "Filtrar" %}
              </button>
            </div>
            {# Botón filtrar para mobile #}
            {# clase para abrir los filtros en mobile ag-is-aside_open #}
            <div class="ag-l-aside
              ag-l-aside_band
              ag-js-aside"
            >
              <div class="ag-c-filter
                ag-js-asideContent"
              >
                <h2 class="ag-c-filter-band__title"
                  tabindex="0"
                >
                  {% trans "Filtrar" %}
                </h2>
                <div class="ag-c-filter-band__grid">
                  <form method="get"
                    id="filters_form"
                    class="ag-c-filter-band__form
                    ag-js-searchFilter"
                    tabindex="0"
                  >
                    {% include "biblored/includes/filters/horizontal_filters.html" %}

                    {% for hidden in search_form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %}
                  </form>
                </div>
              </div>

              {# Button to close the aside filter #}
              <button class="ag-c-filter-band__btn
                ag-o-btn-tooltip
                i-close
                ag-js-asideClose"
                type="button"
              >
                <span class="ag-o-btn-tooltip__tooltip">{% trans "Cerrar" %}</span>
              </button>
            </div>
            {% include "biblored/includes/blocks/order_by.html" %}
          </div>
        </li>
      </ul>
    </div>

    <div class="ag-l-inner-wide">
      {# List resource #}
      <div class="ag-c-card-grid ag-c-card-grid_grid">
        {% for resource in resources %}
          {% include "biblored/includes/resource/resource_item.html" with request=request object=resource.processed_data user=user counter=forloop.counter0 only %}
        {% endfor %}
      </div>
      {# Paginador lista #}
      {% include "biblored/includes/paginator.html" %}
    </div>
  </main>
  {% include "biblored/includes/messages/messages_templates.html" %}
  {% include "biblored/includes/modals/modal_add_collection.html" with data_modal="add_collection" only %}
{% endblock %}

{% block js %}
  {{ block.super }}
  {% render_bundle 'collection_groups_detail_page_form' 'js' %}
  {% render_bundle 'collections_add_to_groups_api' 'js' %}
  {% render_bundle 'collections_group_favorites_api' 'js' %}
  {% render_bundle 'content_resource_collections_edit_iframe_load_events' 'js' %}
{% endblock %}
