{% extends "biblored/includes/custom_user/profile_detail_notifications_base.html" %}

{% load i18n %}

{% block nav_tabs %}
  <nav class="ag-menu-bar" tabindex="0">
    {% include "biblored/includes/custom_user/tab-nav-items/active/invitations.html" with tab_counter=request_user.invitations_count only %}
    {% include "biblored/includes/custom_user/tab-nav-items/link/requests.html" with tab_counter=request_user.requests_count only %}
    {% include "biblored/includes/custom_user/tab-nav-items/link/shared_resources.html" with tab_counter=request_user.shared_resources_count only %}
  </nav>
{% endblock nav_tabs %}

{% block notifications_list %}
  {% include "biblored/includes/custom_user/invitations_list.html" with notifications=invitations csrf_token=csrf_token only %}
{% endblock notifications_list %}
