// component.scss -- Component preview composition
//
// Edit by Aguayo 2019

.SG-component__preview--description {
  padding: 0;
}

.SG-component__preview--description,
.SG-table {
  font-family: 'Courier New', Courier, monospace;
}

.SG-component {
  margin-bottom: 20px;
}

.SG-break {
  margin: 20px 0;
}

