{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/biblored.css' %}">
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% trans 'Asignación masiva de Equivalencia' %}
</div>
{% endblock %}

{% block content %}
    <p>{% blocktrans with count=queryset.count %}Vas a modificar {{ count }} {{ objects_name }}:{% endblocktrans %}</p>
    <p>{% blocktrans %}Selecciona la equivalencia a asignar:{% endblocktrans %}</p>
    <form method="post">{% csrf_token %}
    {{ form.as_p }}
    {% for id in selected_ids %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ id }}">
    {% endfor %}
    <input type="hidden" name="action" value="mass_assign_equivalence">
    <input type="hidden" name="post" value="yes">
    <input type="hidden" name="select_across" value="{{ select_across }}">
    <input type="hidden" name="index" value="{{ index }}">
    <input type="submit" value="{% trans 'Asignar equivalencia' %}">
    <input type="submit" name="clear" formnovalidate class="warning" value="{% trans 'Quitar equivalencia' %}">
    <input type="button" class="cancel cancel-link" value="{% trans "Llévame atrás" %}"></a>
</form>
{% endblock %}
