{% load i18n %}
{% load static %}
{% if shared_resources_notifications %}
  <section class="ag-l-inner-wide" id="content" tabindex="0">
    <header class="ag-o-subheader">
      <h2 class="ag-o-headline ag-o-headline_primary" tabindex="0">{% trans 'Recursos compartidos' %}</h2>
    </header>

    <ul class="ag-list">
      {% for shared_resource_notification in shared_resources_notifications %}
        {% include "biblored/includes/notifications/notification_shared_resource_item.html" with shared_resource_notification=shared_resource_notification resource=shared_resource_notification.shared_resource.resource only %}
      {% endfor %}
    </ul>
  </section>
  {% else %}
  <section class="ag-l-inner-wide" id="content" tabindex="0">
      <header class="ag-o-subheader-ico i-notify">
        <h2 class="ag-o-subheading" tabindex="0">{% trans 'No tienes nuevos recursos compartidos.' %}</h2>
      </header>
    </section>
{% endif %}

