{% load render_bundle from webpack_loader %}

{% comment %}
  Polifylls for non language-standard functionality, not handled by core-js (Babel).
{% endcomment %}
<script async src="https://polyfill.io/v3/polyfill.min.js?flags=gated"></script>

<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3163788,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

{% render_bundle 'main' 'js' %}
